* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 1000px;
}

.black {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
}

.box {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
}

.cleanButton {
	width: 100px;
	height: 25px;
}

.eraseButton {
	width: 100px;
	height: 25px;
	background-color: green;
	color: white;
}
